# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Projekty.grist
inspect_db.py
00418-BOM.xlsx
bug_notes.md
00435-W-000-000-R00--ZLOZENIE GLOWNE.xlsx